#DOCUMENT_ROOT=./
#DATA_DIR=./data

WEBSERVER_PORT=8180
PHPMYADMIN_PORT=8182
MAILHOG=8183

#MYSQL_ROOT_PASSWORD=mysqlrootpass1
#MYSQL_DATABASE=rvsitebuilderdb1
#MYSQL_USER=rvsitebuilderdbuser1
#MYSQL_PASSWORD=rvsitebuilderdbpass1